html,body{
	height:100%;
	width:100%;

	font:{
		family:'Open Sans', sans-serif;
		size: 16px!important;
	} 

}

.clearAll{
	clear:both;
}

body *{
	
}

@media (max-width:880px){
	html,body{
		font:{
			size: 15px!important;
		}
	}
}